.pulldownRefresh-caption{
    text-align: center;
}
.pulldownRefresh-pulldown-caption{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}
.icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em; height: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
       normalize.css 中也包含这行 */
    overflow: hidden;
}

.pulldownRefresh-caption-icon{
    font-size: 15px;
}
.pulldownRefresh-caption-icon-spinner{
    display: none;

    -webkit-transition: -webkit-transform 0.3s ease-in;
    -webkit-transform: rotate(180deg);
    -webkit-animation: spinner-spin 1s step-end infinite;

    transition: -webkit-transform 0.3s ease-in;
    transform: rotate(180deg);
    animation: spinner-spin 1s step-end infinite;
}
@-webkit-keyframes spinner-spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
    }

    8.33333333%
    {
        -webkit-transform: rotate(30deg);
    }

    16.66666667%
    {
        -webkit-transform: rotate(60deg);
    }

    25%
    {
        -webkit-transform: rotate(90deg);
    }

    33.33333333%
    {
        -webkit-transform: rotate(120deg);
    }

    41.66666667%
    {
        -webkit-transform: rotate(150deg);
    }

    50%
    {
        -webkit-transform: rotate(180deg);
    }

    58.33333333%
    {
        -webkit-transform: rotate(210deg);
    }

    66.66666667%
    {
        -webkit-transform: rotate(240deg);
    }

    75%
    {
        -webkit-transform: rotate(270deg);
    }

    83.33333333%
    {
        -webkit-transform: rotate(300deg);
    }

    91.66666667%
    {
        -webkit-transform: rotate(330deg);
    }

    100%
    {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spinner-spin
{
    0%
    {
        transform: rotate(0deg);
    }

    8.33333333%
    {
        transform: rotate(30deg);
    }

    16.66666667%
    {
        transform: rotate(60deg);
    }

    25%
    {
        transform: rotate(90deg);
    }

    33.33333333%
    {
        transform: rotate(120deg);
    }

    41.66666667%
    {
        transform: rotate(150deg);
    }

    50%
    {
        transform: rotate(180deg);
    }

    58.33333333%
    {
        transform: rotate(210deg);
    }

    66.66666667%
    {
        transform: rotate(240deg);
    }

    75%
    {
        transform: rotate(270deg);
    }

    83.33333333%
    {
        transform: rotate(300deg);
    }

    91.66666667%
    {
        transform: rotate(330deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}